@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #62ACEF;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.post{
    width: 340px; 
}

.post img{
    height: 250px;
    width: 340px;
}

.post p{
    text-align: justify;
    color: #fff;
    word-break: break-all;
}

label{
    color: #fff;
    text-transform: uppercase;
    margin-right: 5px;
}

input{
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 30vh;
    padding: 0 10px;
}

fieldset{
    border: 0;
    display: flex;
    justify-content: flex-end; 
    background-color: none; 
}

fieldset:nth-child(1){
    align-items: center;
    justify-content: space-around;
    width: 50rem;
    height: 5rem;
    background-color: #235F98;
    color: black;
    font-weight: 900;
    margin: 1rem 0;
    border-radius: 10px;
}

#botaoPostar{
  background-color: #235F98;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 20px;
  border: 0;
  padding: 8px 30px;
  cursor: pointer;
}

#botaoPostar:hover{
    background-color: #093F6B;
    color:#fff ;
}

footer {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
}

@media (max-width: 815px) {

    fieldset:nth-child(1){
     flex-direction: column;
     width: auto;
     height: auto;
     align-items: flex-end;
     padding: 10px 10px;
    }

    label{
        margin:  15px;
    }

    input{
        margin-bottom: 5px;
        width: 500px;
    }

    #botaoPostar{        
        width: 7rem;
        font-size: .8rem;     
      }
}

@media (max-width: 636px) { 

   input{
        width: 200px;
    }

}